.container{
    
    align-items: center;
    height: 100vh;
    margin: -20px;
    background-color: black;
}

h2{
    text-align: center;
  
    color: white;
    padding: 20px;;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}